@import "global.scss";

@import "@fortawesome/fontawesome-free/css/all.css";

.container-table {
    table-layout: fixed;

    .tcs-select {
        background: palegoldenrod;
    }

    td {
        position: relative;
        text-align: center;
        user-select: none; /* supported by Chrome and Opera */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */

        &:not(.tcs-ignore) {
            opacity: 0.25;
        }
    }
}
